<article class="post-item">
  <a href="/post/{{id}}" target="_blank">
    <div class="post-title">
      <h2>{{title}}</h2>
      <p>Posted by {{user.username}} on {{created_at}}</p>
    </div>
    <p class="post-content">{{content}}</p>
  </a>
</article>